@use "pico" with (
  $theme-color: "amber",
  $enable-semantic-container: false,
  $enable-classes: false
);

.toggle-sidebar {
  position: fixed;
  top: 1rem;
  left: var(--toggle-position, 200px);
  z-index: 10;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: left 0.3s ease-in-out;
}

body.sidebar-collapsed {
  --sidebar-width: 80px;
  --toggle-position: 80px;
}

body.sidebar-collapsed {
  .label {
    display: none;
  }
}


body {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: var(--sidebar-width, 200px) 1fr;
  height: 100vh;
  margin: 0;
  transition: grid-template-columns 0.3s ease-in-out;
}

aside {
  grid-area: aside;
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: var(--sidebar-width, 200px);
  transition: width 0.3s ease-in-out;

  .logo {
    svg{
      width: 22px;
    }
  }

  .sidebar-links {
    padding: 0;

    li {
      padding: 0;

      a {
        color: black;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        font-size: 0.9rem;
        padding: .5rem;
        border-radius: .5rem;

        &:hover {
          color: #ffbf00;
          background-color: #FCEFD9;

          .initial {
            border: 1px solid #ffbf00;
            color: #ffbf00;
          }
        }

        .initial {
          display: flex;
          width: 22px;
          justify-content: center;
          align-items: center;
          font-size: 0.625rem;
          border-radius: 0.5rem;
          border: 1px solid #e0e3e7;
          color: #a4acba;
          min-width: 22px;
        }
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    padding: .5rem;
    border-radius: .5rem;
    min-width: 80px;

    &:hover {
      color: #ffbf00;
      background-color: #FCEFD9;
    }

    svg {
      max-width: 22px;
    }
  }
}

main.container {
  grid-area: main;
  padding: 1rem;
  background-color: #F0F1F3;
  max-width: none;

  .main-inner {
    margin-bottom: 1200px;
  }
}
